################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week2/.vs/week2/v17/Browse.VC.db
